.about-me-card {
    background-color: #1a1a1a; 
    color: white;
    width: auto; /* Full width of the container */
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center; 
    width: 100%;
    gap: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.text-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.about-me-card h2 {
    margin-top: 0;
    font-size: 1.8em; /* Adjust font size */
    margin-bottom: 10px;
    
}

 p {

    font-size: 1.2em;
    color: #ffffff; 
    font-weight: bold; 
    line-height: 1.5; 
    text-wrap: balance;
}

.image-placeholder {
    width: 150px; 
    height: 150px;
    border-radius: 50%; /* Make the container circular */
    overflow: hidden; 
    background-color: #ccc; 
    flex-shrink: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    border: 3px solid #ffffff; /* Add a white border */
}

.image-placeholder img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

span{
    font-size: 1.2em;
    color: #727070;
    font-weight: bold; 
}