<div class="about-me-card">
  <div class="text-content">
    <h2>👋 {{ getText('Hola, soy Marcos Vallecillos', 'Hi , im Marcos Vallecillos') }}
</h2>
    <p>{{getText('Soy', 'Im')}}  <strong>{{getText('desarrollador fullstack','FullStack developer')}} </strong>. {{getText('Soy bueno en', 'Im good in')}} <strong>CSS</strong> y <strong>HTML</strong>, {{getText('asi como en','as well as in' )}}<strong> TypeScript</strong>. <span>{{getText('Aprender no es solo una pasión para mí, es una forma de mantenerme en constante evolución. Me atraen las nuevas tecnologías no solo por lo innovadoras, sino por el potencial que tienen para transformar ideas en soluciones reales. Tengo un ojo entrenado para los pequeños detalles que marcan la diferencia, y cuando trabajo en algo, no me conformo con que funcione: busco que destaque.',
      'Learning isnt just a passion for me; its a way for me to constantly evolve. Im drawn to new technologies not only because theyre innovative, but also because of their potential to transform ideas into real solutions. I have a keen eye for the small details that make a difference, and when I work on something, Im not satisfied with just having it work; I want it to stand out.')}}</span> </p>
  </div>
  <div class="image-placeholder">
    <img src="" alt="Marcos Vallecillos" class="profile-image">
  </div>
</div>