<div class="about-me-card">
  <div class="text-content">
    <h2>👋 {{ getText('Hola, soy Marcos Vallecillos', 'Hi , im Marcos Vallecillos') }}
</h2>
    <p>{{getText('Soy', 'Im')}}  <strong>{{getText('desarrollador fullstack','FullStack developer')}} </strong> {{getText('con buen dominio de ', 'with strong skills in')}} <strong>CSS</strong> y <strong>HTML</strong>, {{getText('asi como en','as well as in' )}}<strong> {{getText( 'PHP y TypeScript','PHP and TypeScript')}}</strong>. <span>{{getText('Me apasiona aprender y estar al día con nuevas tecnologías, no solo por lo innovadoras, sino por su capacidad de convertir ideas en soluciones reales. Me enfoco en los detalles que marcan la diferencia y siempre busco que mi trabajo no solo funcione, sino que destaque.',
      'Im passionate about learning and staying up to date with new technologies not just for their innovation, but for their power to turn ideas into real solutions. I pay attention to the details that make a difference, and I always aim for my work to not just function, but stand out.')}}</span> </p>
  </div>
  <div class="image-placeholder">
    <img src="" alt="Marcos Vallecillos" class="profile-image">
  </div>
</div>