<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">

<div class="cards-container">
 

  <div class="age-card">
    <p class="age-label">EDAD</p>
    <p class="age-number">19</p>
    <p class="age-years">AÑOS</p>
  </div>

  <div class="linkdein-card">

    <p class="linkdein-label">in</p>
    <a href="https://www.linkedin.com/in/tu-perfil-linkedin" target="_blank" class="linkdein-icon">&#x2197;</a>
    
  </div>


   <div class="projects-card">
    
     <h2>Proyectos </h2>
     <p>Aquí puedes encontrar algunos de mis proyectos.</p>
     <a href="#" class="external-link-icon">&#x2197;</a>
     <img src="../../../../images/gif_programando.gif" alt="Project Illustration" class="project-illustration">
   </div>
</div>
