<div class="cards-container">


    <div class="gitHub-card">

        <h2>Github </h2>
        <p>Donde subo todos mis proyectos.</p>
        <a href="#" class="external-link-icon">&#x2197;</a>
        <img src="../../../../images/github_gif.gif" alt="Project Illustration" class="project-illustration">
    </div>
    <div class="skills-card">
        <img src="../../../../images/angular.png" alt="">
        <img src="../../../../images/html.png" alt="">
        <img src="../../../../images/css.svg" alt="">
        <img src="../../../../images/php.png" alt="">
        <img src="../../../../images/symfony.png" alt="">
        <img src="../../../../images/mysql.png" alt="">

    </div>





</div>