<div class="cards-container">


   
 <div class="gitHub-card" cdkDrag [cdkDragDisabled]="isMobile">
 
  <a href="https://github.com/marcosvallecillos" target="_blank" class="github-icon">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
</svg>
  </a>

      <h2>Github </h2>
      <img src="../../../../images/github_gif.gif" alt="Project Illustration" class="project-illustration">

        <p>{{getText('Mi perfil de Github, donde subo mis proyectos.', 'My Github profile, where I upload my projects.')}} </p>
</div>



  <div class="skills-card" cdkDrag [cdkDragDisabled]="isMobile">
    <img src="../../../../images/angular.png" alt="Angular">
    <img src="../../../../images/html.png" alt="HTML">
    <img src="../../../../images/css.png" alt="CSS">
    <img src="../../../../images/php.png" alt="PHP">
    <img src="../../../../images/symfony.png" alt="Symfony" class="cambiarColor">
    <img src="../../../../images/mysql.png" alt="MySQL">
    <img src="../../../../images/git.png" alt="Git">
    <img src="../../../../images/bootstrap.svg" alt="Bootstrap" class="cambiarColor">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python" class="cambiarColor skill-icon-extra">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" class="cambiarColor skill-icon-extra">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/fastapi/fastapi-original.svg" alt="FastAPI" class="cambiarColor skill-icon-extra">
  </div>

  <div class="nevel-english-card" cdkDrag>
    <p class="nevel-english-label">{{ getText('Nivel de Inglés', 'English level') }}</p>
    <p class="nevel-english-number">B1</p>
  </div>

</div>
